<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="memberDAO" class="com.libraryManage.MemberDAO" />

	<bean id="RegSvc" class="com.libraryManage.RegisterService">
		<constructor-arg ref="memberDAO" />
	</bean>

	<bean id="LoginSvc" class="com.libraryManage.LoginService">
		<constructor-arg ref="memberDAO" />
	</bean>


	<bean id="bookDAO" class="com.libraryManage.BookDAO" />

	<bean id="BookSvc" class="com.libraryManage.BookService">
		<constructor-arg ref="bookDAO" />
	</bean>

	<!-- <bean id="memberPrinter" class="com.libraryManage.MemberPrinter" /> 
		<bean id="infoPrinter" class="com.libraryManage.MemberInfoPrinter"> <property 
		name="memberDAO" ref="memberDAO" /> <property name="printer" ref="memberPrinter" 
		/> </bean> -->

</beans>